<h1>Sign Up</h1>

<h5>1. Set up your pet parent profile</h5>
<h5>2. Set up profiles for all of you pets</h5>
<h5>3. Post on your pet's profile and comment on other pets' posts</h5>

<%= render 'form' %>